@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: #d7d1e4;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.main-header {
  margin-top: 0px;
  background-color: white;
  /* background-size: cover; */
  padding-bottom: 25px;
}

.logo {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-size: 3em;
  color: #8402fe;
  text-align: center;
  padding-top: 30px;
  margin-block-start: 0;
  margin-block-end: 15px;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
}

nav li a {
  display: inline-block;
  padding: 0.5em;
}

a {
  text-decoration: none;
}

nav li .active,
nav li a:hover {
  color: #8402fe;
}

.main-nav {
  text-align: center;
}

.main-nav li {
  padding: 0 1%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
  text-align: center;
}

.shop-item-img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.shadow {
  -webkit-box-shadow: 1px 2px 16px -3px rgba(222, 215, 222, 1);
  -moz-box-shadow: 1px 2px 16px -3px rgba(222, 215, 222, 1);
  box-shadow: 1px 2px 16px -3px rgba(222, 215, 222, 1);
}

footer {
  background-color: black;
}

footer .logo {
  font-size: 2.2em;
  padding: 20px 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  color: white;
}

footer .logo:hover {
  color: #8402fe;
}

.icon {
  font-size: 25px;
  display: inline-flex;
  text-align: center;
  color: white;
}

.icon:hover {
  color: #8402fe;
}

.footer-container {
  align-items: center;
}

.footer-container ul {
  flex-grow: 1;
  align-content: center;
  justify-content: flex-end;
}

.footer-container ul li {
  padding: 0 5%;
}

.flex {
  display: flex;
}

.shop-items {
  margin: 30px;
}

.item-title {
  display: block;
  width: 100%;
  margin-block-end: 20px;
}

.item-details {
  display: flex;
  /* align-items: center; */
  padding: 5px;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-price,
.item-button {
  margin: 0 5px;
}

.cart-header {
  font-weight: bold;
}

.cart-column {
  display: flex;
  border-bottom: 1px solid #d7d1e4;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
}

.cart-quantity {
  width: 35%;
}

.cart-item,
.cart-price,
.cart-quantity,
.cart-item-title {
  font-size: 1.2em;
  color: #332d39;
}
.cart-item-title {
  margin-left: 0.5em;
}
.cart-item-img {
  width: 75px;
  height: auto;
  border-radius: 5px;
}

.btn {
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
  border-radius: 5%;
  border: 1px solid #332d39;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary,
.item-button {
  background-color: #8402fe;
}

.btn-danger {
  background-color: #ff3701;
}

input {
  height: 30px;
  width: 50px;
  border-radius: 5%;
  border: 1px solid #332d39;
  background-color: #eee;
  color: #332d39;
  padding: 0;
  text-align: center;
  margin-right: 25px;
}

/* .cart-row:last-child {
  border-bottom: 1px solid #332d39;
} */

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

/* .cart-total-title {
  margin-right: 20px;
} */

.cart-total-price {
  color: #332d39;
}
